<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 수정</h1>
    <form action="/posts/edit/<%= blogedit._id %>" method="POST">
        <div>
            <label>제목</label>
        <input type="text" id="title" value="<%= blogedit.title %>" name="title">
        </div>
        
        <div>
            <label>내용</label>
            <textarea rows="10" id="body" name="body"><%= blogedit.body %></textarea>
        </div>
        <div>
            
            <button type="summit" id="send">Edit</button>
        </div>
        
    </form>
</body>
</html>