<!-- 시작페이지 frontend 합치면 필요없는 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 작성 및 로그인 구현</h1>
    
    <!-- Navigation-->
    <div>
        <ul>
            <li><a href="/board">종목토론방</a></li>
        </ul>
    </div>
</body>
</html>
