.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(218, 222, 233);
    padding: 20px;
    margin-top: 50px;
    margin: 50px auto;
}

.title{
    color:black;
}

.textfield{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.submit{
    display: flex;
    font-size: 14px;
    background-color:rgb(172, 182, 188);
    border: none;
    border-radius: 5px;
    padding: 8px 20px 5px 20px;
    margin: 0px auto 20px;
}

.others{
    text-align: center;
    color: rgb(67, 66, 66);
}

@media (max-width: 840px) {
    .container {
      flex-direction: column;
      margin: 50px auto 50px;
    }
  }